@tailwind base;
@tailwind components;
@tailwind utilities;

.shimmer{
    animation: shimmer 2s infinite linear;
    background: linear-gradient(to right , #000000 0% , #333 25% , #000  45% );
    background-size: 2000px 100%;
}

@keyframes shimmer {
    0% {
        background-position : -1000px 0 ;
    }
    100% {
        background-position : 1000px 0 
    }
}